// Common styles of the project

html, body {
  height: 100%;
}

#store {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.store {
  height: 10000px;
  position: relative;
  &_btn {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    background: #4cae7a;
    border-radius: 100%;
    transition:top .1s;
  }

}